.bx--number {
  width: 100%
}

.coreSelect {
  width: 25em !important;
  height: 3.35em !important;
  max-height: 3.35em !important;
  background-color: #161616 !important;
  border: none !important;
}

.coreSelect .bx--list-box__selection {
  visibility: hidden;
}
.coreSelect .bx--text-input {
  border: none !important;
}

.comboBoxNoClear .bx--list-box__selection {
  visibility: hidden;
}

.clock .bx--tooltip__trigger.bx--tooltip__trigger--definition {
  font-size: 1rem;
  border-bottom: none;
  margin-bottom: 0.4em;
}

.dx--dashboard-logs .bx--data-table-content {
  overflow-x: clip !important;
}

.dx--table-empty {
  height: 88vh;
}

.dx--light {
  .clock .bx--tooltip__trigger.bx--tooltip__trigger--definition {
    color: #f4f4f4;
  }

  .coreSelect .bx--text-input {
    color: #f4f4f4;
  }

  .coreSelect.bx--list-box--disabled .bx--text-input {
    color: #525252;
  }

  .coreSelect .bx--list-box__menu-icon > svg {
    fill: #f4f4f4;
  }

  .coreSelect.bx--list-box--disabled .bx--list-box__menu-icon > svg {
    fill: #525252;
  }

  .bx--data-table {
    background: var(--cds-ui-03, #e0e0e0)
  }

  .dx--table-empty {
    background: #ffffff
  }
}

.dx--dark {
  .dx--table-empty {
    background: var(--cds-ui-01, #f4f4f4)
  }
}

.dx--content {
  max-width: 100% !important;
  margin-right: 2em !important;
  margin-left: 20em !important;
}

.bx--modal {
  margin-left: 18em !important;
  height: 100% !important;
  width: 86.2% !important;
}

.bx--modal.is-visible {
  width: 87.2% !important;
}

@media only screen and (max-width: 1055px) {
  .dx--content {
    max-width: 100% !important;
    margin-right: -1em !important;
    margin-left: 2em !important;
    transition: margin-left 0.1s ease-in-out, margin-right 0.1s ease-in-out;
  }
  
  .bx--modal {
    margin-left: 3em !important;
    height: 100% !important;
    width: 96% !important;
  }
}
