.coreSelect {
  width: 25em !important;
  height: 3.35em !important;
  max-height: 3.35em !important;
  background-color: #161616 !important;
  border: none !important;
}

.coreSelect .bx--list-box__selection {
  visibility: hidden;
}
.coreSelect .bx--text-input {
  border: none !important;
}

.comboBoxNoClear .bx--list-box__selection {
  visibility: hidden;
}

.clock .bx--tooltip__trigger.bx--tooltip__trigger--definition {
  font-size: 1rem;
  border-bottom: none;
  margin-bottom: 0.4em;
}

.dx--light {
  .clock .bx--tooltip__trigger.bx--tooltip__trigger--definition {
    color: #f4f4f4;
  }

  .coreSelect .bx--text-input {
    color: #f4f4f4;
  }

  .coreSelect.bx--list-box--disabled .bx--text-input {
    color: #525252;
  }

  .coreSelect .bx--list-box__menu-icon > svg {
    fill: #f4f4f4;
  }

  .coreSelect.bx--list-box--disabled .bx--list-box__menu-icon > svg {
    fill: #525252;
  }

  .bx--data-table {
    background: var(--cds-ui-03, #e0e0e0)
  }

  .dx--table-empty {
    background: #ffffff
  }
}

.dx--dark {
  .dx--table-empty {
    background: var(--cds-ui-01, #f4f4f4)
  }
}

.bx--modal {
  height: 100% !important;
  width: 100% !important;
}
