.coreSelect {
  width: 25em !important;
  height: 3.35em !important;
  max-height: 3.35em !important;
  background-color: #161616 !important;
  border: none !important;
}
.coreSelect .bx--list-box__selection {
  visibility: hidden;
}
.coreSelect .bx--text-input {
  border: none !important;
}

.comboBoxNoClear .bx--list-box__selection {
  visibility: hidden;
}

.clock .bx--tooltip__trigger.bx--tooltip__trigger--definition {
  font-size: 1rem;
  border-bottom: none;
}