/* Buttons */
.btn {
  @apply font-bold; 
  @apply py-2;
  @apply px-4; 
  @apply rounded;
}

.btn-blue {
  @apply bg-blue-500;
  @apply text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-gray {
  @apply bg-gray-400;
  @apply text-gray-800;
}
.btn-gray:hover {
  @apply bg-gray-500;
}

/* Inputs */
.text-input {
  @apply px-4; 
  @apply py-2; 
  @apply mt-2;
}

/* Scroll Bars */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #F7FAFC;
}

::-webkit-scrollbar-thumb {
  background: #A0AEC0;
}

::-webkit-scrollbar-thumb:hover {
  background: #4A5568;
}
