[submodule "BDDL"]
	path = BDDL
	url = https://github.com/boreal-systems/BDDL.git
[submodule "RFP"]
	path = RFP
	url = https://github.com/boreal-systems/RFP.git
[submodule "mutableconf"]
	path = src/libs/mutableconf
	url = https://github.com/monoxane/mutableconf.git