[submodule "packages/core/src/providers/deviceProviders/director-provider-resolume-arena"]
	path = packages/core/src/providers/deviceProviders/director-provider-resolume-arena
	url = https://github.com/borealsystems/director-provider-resolume-arena.git
[submodule "packages/core/src/providers/deviceProviders/director-provider-bitfocus-companion"]
	path = packages/core/src/providers/deviceProviders/director-provider-bitfocus-companion
	url = https://github.com/borealsystems/director-provider-bitfocus-companion.git
[submodule "packages/core/src/providers/deviceProviders/director-provider-harris-panacea"]
	path = packages/core/src/providers/deviceProviders/director-provider-harris-panacea
	url = https://github.com/borealsystems/director-provider-harris-panacea.git
[submodule "packages/core/src/providers/deviceProviders/director-provider-ross-nk-ips"]
	path = packages/core/src/providers/deviceProviders/director-provider-ross-nk-ips
	url = https://github.com/borealsystems/director-provider-ross-nk-ips.git
[submodule "packages/core/src/providers/deviceProviders/director-provider-ross-carbonite-black-plus"]
	path = packages/core/src/providers/deviceProviders/director-provider-ross-carbonite-black-plus
	url = https://github.com/borealsystems/director-provider-ross-carbonite-black-plus.git
