[submodule "RFC/BDDL"]
	path = RFC/BDDL
	url = https://github.com/borealsystems/BDDL.git
[submodule "RFC/RFP"]
	path = RFC/RFP
	url = https://github.com/borealsystems/RFP.git
[submodule "DefinitionLibrary"]
	path = DefinitionLibrary
	url = https://github.com/borealsystems/DefinitionLibrary.git
